.modal-center-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(31, 45, 80, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  overflow: hidden;
}
